aiofiles==23.2.1
aiogram==3.6.0
aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.6.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
Babel==2.9.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
Django==4.2.5
django-cors-headers==4.2.0
djangorestframework==3.14.0
environs==9.5.0
fonttools==4.49.0
frozenlist==1.4.0
geographiclib==2.0
geopy==2.4.1
idna==3.4
kiwisolver==1.4.5
macholib==1.16.3
magic-filter==1.0.12
marshmallow==3.20.1
matplotlib==3.8.3
multidict==6.0.4
numpy==1.26.4
packaging==23.1
Pillow==10.0.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PyMySQL==1.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.7
whitenoise==6.6.0
yarl==1.9.2
